/*------ general ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1389b2;
    font-family: 'Open Sans', sans-serif;
}

/*------ title ------*/
h1 {
    font-size: 80px;
    margin: 10px 0 30px 0;
    text-align: center;
    color: #fff;
}

/*------ SimonSays ------*/
.container {
    width: 1200px;
    margin: auto;
}
.numbers-list {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 100px;
}
.number {
    font-size: 36px;
    color: darkred;
}
.score ,.score-numbers {
    display: none;
    font-size: 42px;
    color: darkgreen;
}